<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DefaultAdm.master.cs" Inherits="LendasClassicWeb.DefaultAdm" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <%-- metas --%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <%--links--%>
    <link href="Content/Style.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Adm</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

    <%--scripts--%>
    <script src="Scripts/Script.js"></script>
    <script src="Scripts/jquery-3.6.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

</body>
</html>
